<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.jdt.launching.localJavaApplication">
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_PATHS">
        <listEntry value="/baithuchanhlab4/src/ngay2804/slide21.java"/>
    </listAttribute>
    <listAttribute key="org.eclipse.debug.core.MAPPED_RESOURCE_TYPES">
        <listEntry value="1"/>
    </listAttribute>
    <booleanAttribute key="org.eclipse.jdt.launching.ATTR_EXCLUDE_TEST_CODE" value="true"/>
    <stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="ngay2804.slide21"/>
    <stringAttribute key="org.eclipse.jdt.launching.MODULE_NAME" value="baithuchanhlab4"/>
    <stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="baithuchanhlab4"/>
</launchConfiguration>
